<form action="/robots" method="post">
  <p>Create a new Robot:</p>
  <label>name</label>
  <input type="text" name='name' /><br/>
  <label>city</label>
  <input type="text" name='city'/><br/>
  <label>state</label>
  <input type="text" name='state'/><br/>
  <label>department</label>
  <input type="text" name='department'/><br/>
  <input type='submit'/>
</form>
